extends layout

block content

    div#loading-page.page
        h1= "Connecting..."

    div#loginform-page.page(style="display:none;")
        div#loginform.form.dialog
            h1= "Login"
            div.inputgroup
                label(for="email") Email:
                input#loginformemail(name="email",type="text")
            div.inputgroup
                label(for="password") Password:
                input#loginformpassword(name="password",type="password")
            div.inputgroup
                div.buttons
                    button#loginformsubmit(name="submit")= "Connect"
                div.spacer(style="clear: both;")

    div#uploadfile-page.page(style="display:none;")
        div#uploadfileform.form.dialog
            h1= "Upload File"
            div.inputgroup
                label(for="file") file:
                input#uploadfileformfile(name="file",type="file")
            div.inputgroup
                div.buttons
                    button#uploadfileformsubmit.button(name="submit",alt="Upload new report")= "Upload"
                    a#uploadfileformcancel.button(href="#")= "Cancel"                    
                div.spacer(style="clear: both;")

    div#file-upload-dialog.page(style="display:none;")
        div#file-upload-dialog.dialog
            h1= "Uploading..."
            p &nbsp;
            div.content
                
    div#events-page.page(style="display:none;")
        div#page-events-header
            span.title= "Events"
        div#page-events-buttons.icons
            a#page-events-upload-file.button(href="#")
            a#page-events-logout.button(href="#")

        div.content= ""

    div#round-page.page(style="display:none;")
        h1= "Round"
        div.content= ""
