event(sanctionnumber="",eventguid=eventGuid,parenteventguid="00000000-0000-0000-0000-000000000000",parentevent="",orgname="",gamecd="16",startdate="2016-03-09",postevententry="false",enddate="0001-01-01T00:00:00",format="16",eliminationType="3",iscasualreportonly="False",title="Magic: the Gathering",isstarted="True",status="1",batchid="",isplayoff="False",manualmatchround="0",notes="",numberofrounds="3",playoffstartround="0")
    parentevent(eventguid=eventGuid,eventid=eventId,title="Magic: the Gathering",startdate="2016-03-26T00:00:00",formatid="16",eliminationtypeid="2",postevententry="False",eventinformation="",email="",notes="",phone="",url="",orgname="",orgguid="",playlocation="Event Location",seasoncode="MTG",masterrulecode="MTG",iscasualreportonly="False",status="Active",parenteventid="",allowsideevents="False")
    sideevent(parenteventid=eventId)
    participation
        each person in players
            person(id=person.dci,first=person.first,last=person.last,middle=person.middle,country=person.country)
        each person,index in players
            team(id=index+2,name=person.last+","+person.first,status="2",eliminationround="0")
                member(position="A",person=person.dci)

        role(cd="PL" type="PA")
            each person,index in players
                ref(person=person.dci,seq=index+1)
        role(cd="PL",type="DQ")
        role(cd="JG",type="PA")
    matches
        round(number="1",gamecd="16",date="2016-03-26T20:54:43",teamformat="false")
            each game in games
                match(person=game.player1,opponent=game.player2,outcome="2",win="-1",loss="-1",draw="-1",winbydrop="False")
    seats
        each game in games
            table(number=game.table)
                seat(number="1",player=game.player1)
                seat(number="2",player=game.player2)
    pods
        podround
            round(number="1")
    log
        entry(date="2016-03-25T20:48:44",operation="CRE")= "4.2.5.536"
        entry(date="2016-03-26T20:54:43",operation="ROUND")= "Round Started 1"
        entry(date="2016-03-26T20:55:13",operation="MATCH")= "Matches created using match algorithm for round 1."