doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/admin/admin.css')
        script(src="//code.jquery.com/jquery-2.2.2.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/admin/admin.js")
        script(src="/js.cookie.js")

    body
        div#header
            h1= "GPS Administration"
        div#content
            block content
        div#footer
            div= "Footer"
