
extends layout

block content
    div#login-page.page(style="display:none")
        div#header.bar
            h1= "LOGIN"
        div#login
            div.label= "DCI NUMBER:"
            div#loginformdci.field.inputfield(type="text",name="dci") &nbsp;
            div#numpad
                div.row.row1
                    div#n1.button.grid.col1
                        div= 1
                    div#n2.button.grid.col2
                        div= 2
                    div#n3.button.grid.col3
                        div= 3
                div.row.row2
                    div#n4.button.grid.col1
                        div= 4
                    div#n5.button.grid.col2
                        div= 5
                    div#n6.button.grid.col3
                        div= 6
                div.row.row3
                    div#n7.button.grid.col1
                        div= 7
                    div#n8.button.grid.col2
                        div= 8
                    div#n9.button.grid.col3
                        div= 9
                div.row.row4
                    div#nclear.button.grid.col1
                        div &#8678;
                    div#n0.button.grid.col2
                        div= 0
                    div#ndel.button.grid.col3
                        div &larr;
            button#loginformsubmit.field.submitbutton(type="submit",value="SUBMIT")= "SUBMIT"
        div#magicfooter.bar
            img(src="../images/mtglogo.png")
                
    div#seating-page.page(style="display:none")
        div#header.bar
            h1#eventName= eventName
            p#roundName= roundName
            p#playerName= playerName
            div#header-return
        div#circle
        div#seatnumber
            h3= "SEAT"
            h4#seatNumber
                a(href="/")= seatNumber
        div#footer.bar
            p= "OPPONENT"
            h1#opponentName= opponentName
