doctype html
html
    head
        title= title
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel='stylesheet', href='/client/gpseatingapp.css')
        script(src="//code.jquery.com/jquery-2.2.2.min.js")
        script(src="/socket.io/socket.io.js")
        script(src="/client/gpseatingapp.js")

    body
        block content
