* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

html,
body,
form,
#wrap {
	height: 100%;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}

div {
	margin: 0;
	padding: 0;
	text-align: center;
}

form p {
	padding: 0px;
	margin: 0px;
}

a {
	text-decoration: none;
	color: black;
}

img {
	height: 11vh;
}

h1 {
	margin: 0;
	padding: 0;
	text-transform: bold;
	font-size: 4.5vh;
	color: white;
}

h2 {
	margin: 0;
	padding: 0;
	text-transform: bold;
	font-size: 2.5vh;
}

h3 {
	margin: 0;
	padding: 0;
	text-transform: bold;
	font-size: 4.5vh;
}

h4 {
	margin: 0;
	padding: 0;
	text-transform: bold;
	font-size: 16vh;
	margin-top: -2vh;
	font-family: impact;
	#F0F0F0;
}

h5 {
	margin: 0;
	padding: 0;
	text-transform: bold;
	font-size: 3.5vh;
	padding-bottom: 1vh;
	color: white;
}

p {
	margin: 0;
	padding: 0;
	padding-bottom: .5vh;
	font-size: 5vh;
	color: white;
}

.bar {
	width: 100%;
	text-align: center;
}

.submitbutton {
	background-color: #FF9900;
	border: none;
	color: black;
	padding: 2vh 2vw;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3vh;
	border-radius: 1vh;
}

#login .inputfield {
	display: block;
	width: 100%;
	text-align: left;
	background-color: #dedede;
	margin: 0px;
	padding: 0px;
	font-size: 8vh;
	overflow: hidden;
	padding-left: 5px;
	padding-right: 5px;
}

#login {}

#login .label {
	padding: 5px;
	display: block;
	width: 100%;
	text-align: left;
	background-color: white;
	font-weight: bold;
}

#loginform {
	text-align: center;
}

#numpad {
	padding: 25px 0;
	text-align: center;
}

#numpad .button.grid {
	display: inline-block;
	width: 8vh;
	height: 8vh;
	padding: 3px;
	vertical-align: middle;
	position: relative;
	color: white;
	background-color: #202020;
	margin: 1vh;
	border-radius: 10%;
}

#numpad .button.grid.col3 {
	border-right: #608adf solid 1px;
}

#numpad .row4 .button.grid {
	border-bottom: #608adf solid 1px;
}

#numpad .button.grid div {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 5vh;
}

#loginform h5 {
	text-align: left;
	margin-left: 10%
}

#wrap {
	min-height: 100%;
}

#circle {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 50vh;
	padding-bottom: 50vh;
	background: #FF9900;
}

#seatnumber {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-size: 18vh;
}

#mainbody {
	background-color: #F0F0F0;
}

#header {
	background-color: #202020;
	padding: 5px;
}

#footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: #202020;
	clear: both;
}

#magicfooter {
	position: absolute;
	width: 100%;
	bottom: 0px;
	background-color: #202020;
	clear: both;
	padding: 5px;
}

#header-return {
	position: absolute;
	height: 2em;
	width: 2em;
	left: 1vh;
	top: 1vh;
	display: inline-block;
	background-image: url('/images/return-white.png');
	background-size: 2em 2em;
}