#header,
#footer,
#content {
    position: absolute;
    right: 0;
    left: 0
}

body {
    overflow: hidden;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: lightGray;
}

#header {
    height: 45px;
    top: 0;
    background-color: #BCF5A9;
    color: #305020;
}

#header h1 {
    padding: 0;
    margin: 0;
    font-size: 35px;
}

#footer {
    height: 25px;
    bottom: 0;
    background-color: black;
    color: white;
}

#footer {
    font-size: 0.8em;
}

#footer div {
    float: right;
}

#content {
    top: 75px;
    bottom: 25px;
    background-color: white;
}

.dialog {
    width: 300px;
    border: solid black 1px;
    background-color: #ddd;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    top: 100px;
    margin-left: -150px;
    margin-top: -50px;
    z-index: 9999;
}

.form {
    padding: 5px;
}

.form h1 {
    padding: 0;
    margin: 0;
}

.form input {
    padding: 0;
    margin: 0;
    border: solid black 1px;
}

.form .inputgroup {
    padding: 0;
    margin-top: 15px;
}

.form label {
    width: 100px;
    overflow: hidden;
    display: inline-block;
}

.form input {
    width: 190px;
}

.form .inputgroup .buttons {
    float: right;
    display: inline-block;
}

.buttons a {
    text-decoration: none;
    color: #555;
    padding: 5px;
}

.buttons a:hover {
    background-color: #eee;
}

.buttons .button {
    margin-left: 5px;
}

.buttons .button:first-child {
    margin-left: 0;
}

#page-events-header {
    padding: 5px;
}

#page-events-header .title {
    font-size: 2em;
}

#events-page .content .name {
    font-size: 2em;
    display: block;
    padding: 5px;
}

#events-page .content .info {
    font-size: 0.8em;
    display: block;
    padding: 5px;
}

#events-page .content .info .item {
    margin-left: 10px;
}
#events-page .content .info .item:first-child {
    margin-left: 0;
}

#events-page .content ul {
    padding: 5px;
    margin: 0;
}

#events-page .content li {
    list-style-type: none;
}

#events-page .content .event {
    height: 100px;
    padding: 10px;
    border: solid black 1px;
    background-image: url('../images/mtglogo-colour.png');
    background-repeat: no-repeat;
	background-position: 10px 20px; 
	padding-left: 300px;
	position: relative;
}

.icons { 
    height: 34px;
}

.icons .button { 
    display: inline-block;
    height: 28px;
    width: 28px;
    background-repeat: no-repeat;
    background-size: 28px 28px;
    margin: 0;
    padding: 0;
}

.icons.small .button {
    height: 18px;
    width: 18px;
    background-size: 18px 18px;
}

.icons .button:hover {
    background-color: lightGray;
}

#page-events-buttons {
    position: absolute;
    top: 3px;
    margin-top: 0.5em;
    right: 5px;
}

#page-events-upload-file {
    background-image: url('../images/up.png');
}

#page-events-logout {
    background-image: url('../images/return.png');
}

.icons .button.action-delete {
    background-image: url('../images/close.png');
}

.event .icons {
    position: absolute;
    top: 5px;
    right: 5px;
}